# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
venv/
*~

# due to using test tools
.tox
.cache
.coverage

# Spyder project info
.spyproject
build.txt

# local pyscrypt copy
pyscrypt/

